.conteneur2{
    background-image: url('/public/images/Home/1.png');
    background-size: cover;
    opacity: 0.75;
    background-position: top center;
    background-repeat: no-repeat;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: clamp(2rem, 2.8vw, 5rem);
 
    font-weight: bold;
  }

.title{
	width: 160ch;
    color: white;
    font-size: 55px;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(55) alternate infinite;
}
.section1{

    width: 100%;
   margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 10px;
  
    color: white;
    
    
}
.containerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.ims2{
    width: 800px;
    transition: all 0.2s ease-in-out;

}
.ims2:hover{
    scale: 1.1;
  }
.titreh{text-align: center;
    color: #ffdd40;
margin: 20px;}
.parahh{
    color: white;
    margin: 20px;
}
.album {
    max-width: 800px;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgg {
    max-width: 300px;
    margin: 10px;
}
.card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 800px;
    height: max-content;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: black;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 100% 80%;
    transition: transform 0.25s ease-out;
  }
  
  .card:hover::before{
      transition-delay:0.2s ;
  
    transform: scale(40);
  }
  
  .card:hover{
      color: #ffffff;
  
  }
  
  .card p{
      padding: 10px 0;
  }

.ims1{
    display: flex;
    transition: all 0.2s ease-in-out;
}
.ims1:hover{
    scale: 1.1;
  }
.parah{
    text-align: center;
}
.title1{
    color: white;
}
@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 40ch; 
  }
}

@media (max-width:720px){
    .section1{
        display: flex;
        flex-direction: column;
    }

    .ims2{
        width: 300px;
        transition: all 0.2s ease-in-out;
    
    }
    .ims2:hover{
        scale: 1.1;
      }

      .row{
        display: flex;
        flex-direction: column;
      }

      .card {
        width: 600px;
        justify-content: center;
        align-items: center;
      }
}